@import './fonts.css';

:root {
  --accent-color: #5DADEC;

  /* Light tones */
  --monochrome-0: #ffffff;
  --monochrome-1: #f9fafb;
  --monochrome-2: #f3f4f6;
  --monochrome-3: #e5e7eb;
  --monochrome-4: #d1d5db;

  /* Mid tones */
  --monochrome-5: #bfc4cb;
  --monochrome-6: #9ca3af;
  --monochrome-7: #6b7280;
  --monochrome-8: #4b5563;

  /* Dark tones */
  --monochrome-9: #374151;
  --monochrome-10: #1f2937;
  --monochrome-11: #111827;
  --monochrome-12: #0b101a;
  --monochrome-13: #060910;
  --monochrome-14: #030712;
  --monochrome-15: #000000;

  /* Mood Colors */
  --mood-happy: #FDD655;
  --mood-chill: #5DADEC;
  --mood-tired: #FF893F;
  --mood-stress: #FF4B4B;

  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-google-sans-code: "Google Sans Code", monospace;

  /* Default font is Inter */
  --font-family-main: var(--font-inter);

  --font-size-displayLarge: 52px;
  --font-size-displayMedium: 46px;
  --font-size-displaySmall: 41px;
  --font-size-heading1: 36px;
  --font-size-heading2: 32px;
  --font-size-heading3: 29px;
  --font-size-heading4: 26px;
  --font-size-heading5: 23px;
  --font-size-heading6: 20px;
  --font-size-subtitle: 18px;
  --font-size-body: 16px;
  --font-size-caption: 14px;
  --font-size-label: 13px;
  --font-size-tagline: 11px;
}

/* --- NEW: Classes to switch the font --- */
.font-theme-inter {
  --font-family-main: var(--font-inter);
}

.font-theme-lora {
  --font-family-main: var(--font-lora);
}

.font-theme-jetbrains-mono {
  --font-family-main: var(--font-jetbrains-mono);
}

.font-theme-google-sans-code {
  --font-family-main: var(--font-google-sans-code);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:not(input, textarea) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb {
  background-color: var(--monochrome-11);
  border-radius: 10px;
  transition: background-color 0.2s ease;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--monochrome-9);
}

::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--monochrome-15);
  color: var(--monochrome-0);
  font-family: var(--font-family-main);
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  display: flex;
}

.main-content-wrapper {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
}

main {
  width: 100%;
  padding: 24px;
}

button {
  font-family: var(--font-family-main);
  white-space: nowrap;
  cursor: pointer;
}

input {
  font-family: var(--font-family-main);
}

@media (max-width: 768px) {
  .main-content-wrapper {
    height: auto;
    overflow-y: visible;
    width: 100%;
  }

  main {
    padding: 16px;
    padding-bottom: 100px;
  }
}