.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.container {
    background-color: var(--monochrome-15);
    border: 1px solid var(--monochrome-11);
    box-shadow: 0 0 32px 8px rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    width: 100%;
    max-width: 550px;
    padding: 32px;
    text-align: center;
}

.container h2 {
    font-size: var(--font-size-heading3);
    font-weight: 600;
    color: var(--monochrome-4);
}

.container p {
    font-size: var(--font-size-body);
    color: var(--monochrome-6);
    margin: 12px 0 24px;
}

.pinInput {
    padding: 16px 24px;
    font-size: var(--font-size-heading6);
    background-color: var(--monochrome-12);
    border: 2px solid var(--monochrome-10);
    border-radius: 100px;
    color: var(--monochrome-1);
    letter-spacing: 8px;
    transition: border .2s ease-in, background .3s ease-in-out;
    text-align: center;
    width: 100%;
}


.pinInput:hover {
    border-color: var(--monochrome-9);
    background-color: var(--monochrome-11);
}

.pinInput:focus {
    outline: none;
    border-color: var(--accent-color);
}


.unlockButton {
    background-color: var(--monochrome-1);
    width: 100%;
    color: var(--monochrome-15);
    border: none;
    border-radius: 100px;
    padding: 16px 24px;
    font-size: var(--font-size-heading6);
    font-weight: 600;
    margin: 24px 0 16px;
}

.error {
    color: var(--mood-stress);
    margin-top: 1rem;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .container {
        width: 92%;
    }
}