.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: var(--monochrome-15);
    border: 1px solid var(--monochrome-11);
    border-radius: 24px;
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 1px solid var(--monochrome-11);
}

.header h2 {
    font-size: var(--font-size-heading5);
    font-weight: 600;
    color: var(--monochrome-4);
}

.closeButton {
    background: none;
    border: none;
    color: var(--monochrome-7);
    cursor: pointer;
    padding: 0;
}

.content {
    padding: 24px;
    line-height: 1.6;
    color: var(--monochrome-5);
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 24px;
    border-top: 1px solid var(--monochrome-11);
    background-color: var(--monochrome-13);
}

.actionButton {
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    padding: 12px 24px;
    font-size: var(--font-size-subtitle);
}

.actionButton:hover {
    opacity: 0.9;
}

.actionButton.default {
    background-color: var(--monochrome-9);
    color: var(--monochrome-1);
}

.actionButton.primary {
    color: var(--monochrome-15);
    background-color: var(--monochrome-3);

}

.actionButton.danger {
    background-color: var(--mood-stress);
    color: #FFF;
}


@media (max-width: 768px) {
    .modal {
        width: 100%;
        max-width: 100%;
        position: fixed;
        bottom: 0;
        top: auto;
        max-height: 75vh;
        border-radius: 24px 24px 0 0;
        box-shadow: 0 -1px 0 2px rgba(255, 255, 255, 0.07);
    }

    .content {
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    .header h2 {
        font-size: var(--font-size-heading6);
    }

    .footer {
        justify-content: space-between;
    }

    .actionButton {
        width: 100%;
    }

}